{% extends 'StfalconBlogBundle::layout.html.twig' %}

{% block content %}
    <h4>Create new post</h4>
    <form action="#" method="post">
        <fieldset>
            <div id="uploadImages"></div>
            {{ form_widget(form) }}
            <input type="submit" value="Send" />
        </fieldset>
    </form>
{% endblock %}