{% extends 'StfalconBlogBundle::layout.html.twig' %}

{% block content %}
    <h4>Edit post "{{ post.title }}"</h4>

    <form action="#" method="post" enctype="multipart/form-data">
        <fieldset>
            <div id="uploadImages"></div>
            {{ form_widget(form) }}
            <input type="submit" value="Save" />
        </fieldset>
    </form>
{% endblock %}